.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}
.App{

  border: 1px solid gray;
  width: 500px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.hd{
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}
li{
  border: 1px solid black;
  margin: 5px;
  width: 100%;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}